<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>ゼルダの伝説 時系列一覧</title>
</head>

<body>
    <h2>ゼルダの伝説 シリーズ分類</h2>

    <ul>
        <li>大人時代
            <ul>
                <% for( let row of data ) { %>
                    <% if(row.id <=3) { %>
                        <li>
                            <%= row.name %>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </li>

        <li>子供時代
            <ul>
                <% for( let row of data ) { %>
                    <% if(row.id >= 4) { %>
                        <li>
                            <%= row.name %>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </li>
    </ul>

    <br>
    <a href="/zelda">駅一覧に戻る</a>
</body>

</html>